@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-red-500 {
  background-color: red;
} */

/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  background-color: black;
  color: white;
}
.scroll-box {
  height: 200px;
  overflow: auto;
}
img {
  width: 30px;
}
.datepicker {
  max-width: 400px;
}

.navbar {
  background-color: #e2e8f0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}  */
